* {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.gray.500") theme("colors.gray.950");
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: theme("colors.gray.950");
    width: 5px;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.500");
    border-radius: 14px;
    border: 3px solid theme("colors.gray.950");
}
